:root {
  /* colors */
  --primary-100: hsl(214, 95%, 93%);
  --primary-200: hsl(213, 97%, 87%);
  --primary-300: hsl(230, 94%, 82%);
  --primary-400: hsl(234, 89%, 74%);
  --primary-500: hsl(239, 84%, 67%);
  --primary-600: hsl(243, 75%, 59%);
  --primary-700: hsl(245, 58%, 51%);
  --primary-800: hsl(244, 55%, 41%);
  --primary-900: hsl(242, 47%, 34%);

  /* grey */
  --grey-50: hsl(210, 40%, 98%);
  --grey-100: hsl(210, 40%, 96%);
  --grey-200: hsl(214, 32%, 91%);
  --grey-300: hsl(213, 27%, 84%);
  --grey-400: hsl(215, 20%, 65%);
  --grey-500: hsl(215, 16%, 47%);
  --grey-600: hsl(215, 19%, 35%);
  --grey-700: hsl(215, 25%, 27%);
  --grey-800: hsl(217, 33%, 17%);
  --grey-900: hsl(222, 47%, 11%);
  
  /* rest of the colors */
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 100%);
  --red-light: hsl(355, 70%, 91%);
  --red-dark: hsl(355, 61%, 32%);
  --green-light: hsl(153, 31%, 86%);
  --green-dark: hsl(152, 69%, 19%);

  // 
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}