@use '../../styles/abstracts/mixins' as *;

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navCenter {
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  letter-spacing: 3px;
  font-weight: 700;
  user-select: none;
  text-transform: none;
  cursor: pointer;
}

.toggleBtn {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--white);
  color: var(--primary-700);
  border-radius: var(--borderRadius);
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}




/* NavLinks styles*/

.navLinks {
  display: none;
}


@include breakpoint(medium) {
  .toggleBtn {
    display: none;
  }

  .navCenter {
    align-self: stretch;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .navLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-self: stretch;
  }

  .navLink {
    padding: 0 1rem;
    padding-top: 0.7rem;
    color: var(--white);
    background: transparent;
    border-color: transparent;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      color: var(--grey-200);
    }
  }
}