@use '../../styles/abstracts/mixins' as *;

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navCenter {
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.toggleBtn {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--white);
  color: var(--primary-700);
  border-radius: var(--borderRadius);
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

@include breakpoint(medium) {
  .toggleBtn {
    display: none;
  }
}